﻿@using PagedList.Mvc
@model FizzBuzzWeb.Models.FizzBuzzModel

@using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Input)
        @Html.TextBoxFor(m => m.Input, new { placeholder = "Enter Integer Number", Value = "" })
        @Html.ValidationMessageFor(m => m.Input)

    </div>
    <div class="form-group">
        <input type="submit" value="SUBMIT" class="btn-default" />
    </div>

     <div>
    @if (Model.FizzBuzzNumbers != null)
    {
        foreach (var val in Model.FizzBuzzNumbers)
        {
            <div>@val</div>

        }
        <div class="PageColor">
            Page @(Model.FizzBuzzNumbers.PageCount < Model.FizzBuzzNumbers.PageNumber ? 0 : Model.FizzBuzzNumbers.PageNumber) of @Model.FizzBuzzNumbers.PageCount
            @Html.PagedListPager(Model.FizzBuzzNumbers, page => Url.Action("Navigate", "FizzBuzz", new { Model.Input, page }));
        </div>
    }
     </div>
}